.Card__container {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;

  padding: 0.25rem;
  border: 1px solid var(--color-medium-bd);
  width: 100%;
}

.Card__container > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Card__container > .DandoriDB__image-icon {
  flex: 0 0 auto;
}

.Card__content {
  flex: 1 1 auto;
  align-items: center;

  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.Card__content > * {
  width: 100%;
}

.Card__header {
  margin: 0;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Card__footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
